.wrapper--info--user{
    grid-column: 1/span 2;
    grid-row: 1/1;
    justify-content: center;
}
.user--name{
    grid-column: 1/1;
    
    display: inline-block;
    justify-self: end;
}
.level {
    border-bottom: 2px solid $purple-dark;
    grid-column: 2/2;
    display: inline-block;
    align-self: end;
    margin: 0 4px;
}
.wrapper--info-dev{
    display: none;
    height: 100vh;
    padding: 3%;
    background: $blue-light;
    position: fixed;
}
.info--titles{
    color: $purple-dark;
}
.wrapper--info-dev p{
    color: $white;
    padding: 5px;
}
//center
.wrapper--center{
    grid-column: 1 / span 2; 
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img--light{
    grid-column: 2/3;
    height: 200px;
    width: 150px;
}

#btn-play{
    grid-column: 1/ span 3;
    height: 80px;
}

.wrapper--form-question{
    grid-column: 1 /span 2;
}

.form--questions{
   //  display: none;
}

.wrapper--buttons{
    grid-column: 1/span 2;
    grid-row: 2/2;
    align-items: center;
    margin: 10px 0;
}

#newQ{
    grid-column: 1/1;
    padding: 10px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

#infodev{
    grid-column: 2/2;
    width: 64px;
    height: 64px;
    background: transparent;
    padding: 0px;
    justify-self: end;
}
