#btn-play{
    height: 100px;
    grid-column: 1 / span 2; 
}
.wrapper--form-question{
    grid-column: 1 /span 2;
}
.form--questions{
   //  display: none;
}
#newQ{
    padding: 10px;
    height: 100px;
    border-radius: 100%;
}