.container{
    background: $blue-light;
    height: 100vh;
    padding: 10%;
}

.loader{
    background: $blue-light;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.container2{
    background: $blue-light;
    height: 100vh;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}