.container{
    background: $blue-light;
    height: 100vh;
    padding: 10%;
}

.loader{
    background: $blue-light;
    bottom: 0;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 5%;
    z-index: 2;
}

.container2{
    background: $blue-light;
    height: 100vh;
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 14px;
}